* {

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html,
body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #787878;
}

.container {
    padding: 5px;
}


/* NAV TOGGLE */

.nav-toggle {

    width: 30px;
    padding: 10px 0;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 1;
    font-size: 0;
    color: transparent;
    bottom: 0;
    background: none;
    border: none;
    margin: none;
    cursor: pointer;
    display: none;

}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    -webkit-transition: opacity .1s linear;

    -o-transition: opacity .1s linear;

    transition: opacity .1s linear;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    -webkit-transition: background .2s linear;

    -o-transition: background .2s linear;

    transition: background .2s linear;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #fff;


    position: absolute;
    left: 0;
    z-index: 1;
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;

}

.nav-toggle__item:before {
    top: -8px;

}

.nav-toggle__item:after {
    bottom: -8px;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle.active .nav-toggle__item:before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate(45deg) translateX(-4px);
    -ms-transform: rotate(45deg) translateX(-4px);
    transform: rotate(45deg) translateX(-4px);
}

.nav-toggle.active .nav-toggle__item:after {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(-45deg) translateX(-3px);
    -ms-transform: rotate(-45deg) translateX(-3px);
    transform: rotate(-45deg) translateX(-3px);
}



header.sticky .active a {
    color: #fff !important;

}


header.sticky .active ul {
    width: 2000px;
}

.nav__link:hover:after,
.nav__link.active:after {

    opacity: 1;
}

nav.active {
    background-color: #000;
    transition: ease .6s;
}

header.active {
    background-color: #000;
    transition: ease .6s;
}

/* HEADER */



header {


    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100;
    /* border-bottom: 2px solid #ba0e2f; */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

nav {
    padding: 15px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 7vh;

}


/* MEDIA */
@media screen and (max-width: 768px) {



    nav.active ul {
        display: block;
        height: 100vh;
        width: 100vw;
        background-color: #000;
    }

    nav.active ul li {
        display: block;
        padding-top: 50px;
    }

    header {
        -webkit-backdrop-filter: saturate(100%) blur(5px);
        backdrop-filter: saturate(100%) blur(5px);
        padding: 10px 0px;
    }

    header.sticky {
        padding: 0px 0px !important;

        background: none !important;
    }

    .nav-toggle {
        display: block;
    }

    nav {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }

    .logo img {
        max-width: 150px !important;
    }

    .nav {
        -webkit-backdrop-filter: saturate(100%) blur(5px) !important;
        backdrop-filter: saturate(100%) blur(5px) !important;
        display: none;
        position: absolute;
        top: 100%;
        left: 65%;
        width: 100%;
    }

    /* scroll */
    #progressbar {
        display: none;
    }

    #scrollPath {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    #vk_community_messages {
        display: none;
    }
}



header.sticky {
    padding: 5px 100px;
    background: #fff;
}

.logo img {
    max-width: 200px;
}

header .logo {
    position: relative;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}


header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0px 25px;
    font-size: 18px;
    text-decoration: none !important;
    color: #fff !important;
    letter-spacing: 2px;
    font-weight: 500px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

header ul li a:hover {
    color: #ba0e2f !important;
}



header.sticky .logo,
header.sticky ul li a {
    color: #000 !important;
}

header.sticky a:hover {
    color: #ba0e2f !important;
}

header .logo {
    position: relative;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

/* .menu__nav {
    padding: 0px 10px;
}

.menu {

    text-align: center;
    color: #a29a9a !important;
    margin: 0 15px;
    text-decoration: none !important;
}

.menu:hover {
    color: #ba0e2f !important;
    transition: ease 0.5s;
} */





/* THINGS START */

/* GO UP */

.btn__up {
    position: fixed;
    z-index: 1000;
    color: #000000;
    cursor: pointer;
    top: 94%;
    left: 20px;
    -webkit-transition: opacity 124ms linear, -webkit-transform 124ms linear;
    transition: opacity 124ms linear, -webkit-transform 124ms linear;
    -o-transition: opacity 124ms linear, transform 124ms linear;
    transition: opacity 124ms linear, transform 124ms linear;
    transition: opacity 124ms linear, transform 124ms linear, -webkit-transform 124ms linear;
    padding-left: 15px;
    animation: bounce 5s infinite;
}


@keyframes bounce {
    0% {
        bottom: 0;
    }

    100% {
        bottom: 100px;
    }
}

.up {
    width: 30px;
    height: 30px;
}

.btn__up:hover {
    color: #ba0e2f;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 0;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;

    background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));

    background: -o-linear-gradient(bottom, #008aff, #00ffe7);

    background: linear-gradient(to top, #008aff, #00ffe7);
    -webkit-animation: animate 5s linear infinite;
    animation: animate 5s linear infinite;
    z-index: 100;

}


@-webkit-keyframes animate {

    0%,
    100% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }

    50% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes animate {

    0%,
    100% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }

    50% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

#progressbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
    background: -o-linear-gradient(bottom, #008aff, #00ffe7);
    background: linear-gradient(to top, #008aff, #00ffe7);
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

#progressbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
    background: -o-linear-gradient(bottom, #008aff, #00ffe7);
    background: linear-gradient(to top, #008aff, #00ffe7);
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

/* THINGS END */

/* SLIDER */


.infinity-slider img {
    max-width: 100vw;
    min-height: 100vh;
    bottom: 1px solid #000;
    position: absolute;
    opacity: 1;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -o-object-fit: cover;
    object-fit: cover;
}

.infinity-slider {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-size: cover;
}

.butn {
    position: relative;
    color: #787878;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;

}


.btn-infinity-r {
    /* border-radius: 171px 171px 171px 171px;
    -moz-border-radius: 171px 171px 171px 171px;
    -webkit-border-radius: 171px 171px 171px 171px;
    border: 2px solid #ffffff28; */
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    margin-left: 30px;
    font-size: 32px;
    -webkit-transition: opacity 124ms linear, -webkit-transform 124ms linear;
    transition: opacity 124ms linear, -webkit-transform 124ms linear;
    -o-transition: opacity 124ms linear, transform 124ms linear;
    transition: opacity 124ms linear, transform 124ms linear;
    transition: opacity 124ms linear, transform 124ms linear, -webkit-transform 124ms linear;
}

.btn-infinity-r:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: #ba0e2f
}

.btn-infinity-l {
    /* border-radius: 171px 171px 171px 171px;
    -moz-border-radius: 171px 171px 171px 171px;
    -webkit-border-radius: 171px 171px 171px 171px;
    border: 2px solid #ffffff28; */
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    margin-right: 30px;
    font-size: 32px;
    -webkit-transition: opacity 124ms linear, -webkit-transform 124ms linear;
    transition: opacity 124ms linear, -webkit-transform 124ms linear;
    -o-transition: opacity 124ms linear, transform 124ms linear;
    transition: opacity 124ms linear, transform 124ms linear;
    transition: opacity 124ms linear, transform 124ms linear, -webkit-transform 124ms linear;
}

.btn-infinity-l:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: #ba0e2f
}



.slider-container .hide {
    opacity: 0;
}

/* FACE */
.face-container {
    background: #e6e6e6;
    padding-top: 100px;
    padding-bottom: 40px;
}


.mind {
    text-align: center;

}

.item div {
    /* background: #000; */


}

.item img {
    position: relative;
    opacity: 1;
    -webkit-transition: opacity 124ms linear, -webkit-transform 124ms linear;
    transition: opacity 124ms linear, -webkit-transform 124ms linear;
    -o-transition: opacity 124ms linear, transform 124ms linear;
    transition: opacity 124ms linear, transform 124ms linear;
    transition: opacity 124ms linear, transform 124ms linear, -webkit-transform 124ms linear;
    padding: 30px 0px 0px 0px;
}

.item img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}



/* FORM */

.form {
    padding-top: 100px;
    background-image: url(ph/form_min.jpg);


    min-height: 100vh;
    max-width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
    background-attachment: fixed;
    /* background-origin: content-box;
    background-size: 100%;
    background-repeat: no-repeat; */
}

.form_box .req:invalid {
    border: 2px solid #ba0e2f;
}


.form_box .req:valid {
    border: 2px solid green;
}

.error__mess {
    color: #ba0e2f;
}

.btn {
    border-radius: 0;
}

.btn:hover {
    background: #ba0e2f;
}

.frm {
    color: #000;
    margin-top: 50px;
    height: 60px;
}

/* .error {
    border: 2px solid #ba0e2f;
} */

.form .social {
    padding-bottom: 130px;

}

social i {
    padding: 0 !important;
}

/* 
.fab:hover {
    color: #ba0e2f;
    transition: 0.5s;
} */
.social a:hover {
    color: #ba0e2f;
    -webkit-transition: opacity 124ms linear, -webkit-transform 124ms linear;
    transition: opacity 124ms linear, -webkit-transform 124ms linear;
    -o-transition: opacity 124ms linear, transform 124ms linear;
    transition: opacity 124ms linear, transform 124ms linear;
    transition: opacity 124ms linear, transform 124ms linear, -webkit-transform 124ms linear;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.social_text {
    font-size: 20px;
}

.show {
    display: none;
}






/* FEEDBACK */

.feedback {
    padding-bottom: 130px;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.17);
}



.photo-cont {

    position: relative;
    height: auto;
    max-width: 500px;

    left: 30%;

}

.slider-fb-container {
    display: flex;
    position: relative;

}



.reviews h3 {
    font-size: 14px;
}

.reviews h1 {
    font-size: 32px;
    color: #ba0e2f;
}

.reviews {
    padding-left: 29px;
    padding-bottom: 50px;
}

.fb__img {
    padding-top: 70px;

}

.feedback_text {
    width: 70%;

    text-align: left;
    margin-left: 12px;
}

.carousel-item {
    text-align: center;
    padding: 50px;
}

.carousel-item img {
    max-height: 500px;
    width: auto;
}

/* FOOTER */

footer {
    padding: 130px;
}



.phone_number {
    padding-top: 40px;
    position: absolute;

}





/* .fb__img a {
    border: 2px solid #000;
}

.fb__img img {
    border: 2px solid rgb(255, 0, 0);
}

.fb__img p {
    border: 2px solid rgb(93, 0, 255);
} */